/.idea/*
/PHPMVC/.idea/misc.xml
/PHPMVC/.idea/modules.xml
/PHPMVC/.idea/php.xml
/PHPMVC/.idea/PHPMVC.iml
/PHPMVC/.idea/symfony2.xml
/PHPMVC/.idea/vcs.xml
/PHPMVC/.idea/workspace.xml
/PHPMVC/Coliseum/.idea/Coliseum.iml
/PHPMVC/Coliseum/.idea/misc.xml
/PHPMVC/Coliseum/.idea/modules.xml
/PHPMVC/Coliseum/.idea/php.xml
/PHPMVC/Coliseum/.idea/symfony2.xml
/PHPMVC/Coliseum/.idea/vcs.xml
/PHPMVC/Coliseum/.idea/workspace.xml
JS Advanced/.vscode/*
